.nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 5px;
    margin-bottom: 15px;

    &__item {
        margin-left: 50px;

    }

    &__link {
        text-decoration: none;
        font-weight: 500;
        font-size: 15px;
        color: #767879;
        transition: all 0.5s ease;
        text-transform: capitalize;

        &--active::after {
            content: "";
            display: block;
            width: 50px;
            height: 2px;
            background-color: #2d7eda;
            
        }
        
        &:hover::after {
            content: "";
            display: block;
            width: 137px;
            height: 2px;
            background-color: #2d7eda;
            
        }

    }
}