.recommendations {
    max-width: 580px;
    display: flex;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 2px; 
    
    &__heading {
        @include font500;
        margin-right: 316px;
    }
    
    &__btn {
        border: none;
        background-color: transparent;
        
        &:active {
            background-color: #f1f1f1;
        }
    }
}

.recommendation-wrapper {
    background-color: #fff;
    margin-bottom: 25px;
    
    
    
    
    .box {
        display: flex;
        list-style-type: none;
        padding: 15px;
        justify-content: space-between;
        
        &__item {
            background-color: #f1f1f1;
            max-width:170px;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
            position: relative;
            
            
            &::before {
                content: "";
                display: block;
                width:0px;
                height:0px;
                background-color: transparent;
                border-top: 15px solid transparent;
                border-left:20px solid #f1f1f1;
                border-right: 15px solid transparent;
                border-bottom:15px solid transparent;
                position: absolute;
                top:93%;
                right: 90%;
                transform:translateX(50%);
            }
        }
        
    }
    .coders {
        list-style-type: none;
        display: flex;
        align-items: center;
        padding: 15px;
        justify-content: space-between;

        &__item {
            display: flex;
            align-items: center;
        }

        &__img {
            border-radius: 50%;
            margin-right: 7px;
        }

        &__heading {
            margin: 0;
            @include font500;
            margin-bottom: 5px;
        }

        &__text {
            margin: 0;
            @include font400;
            color: #808080;
        }
    }
    
}
