.right-section {
    max-width: 230px;
    margin: 0;

    &__title {
        margin: 0;
        padding-bottom: 14px;
        @include font500;
    }

    .right {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        justify-content: start;
        margin-bottom: 20px;

       

        &__item {
            display: flex;
            align-items: center;
            margin-bottom: 19px;
        }

        &__wrapper {
            margin: 0;
            text-transform: capitalize;
        }

        &__img {
            border-radius: 50%;
            margin-right: 10px;
        }

        &__heading {
            margin: 0;
            @include font400;
            margin-bottom: 5px;
        }

        &__text {
            margin: 0;
            @include font400;
            color: #808080;
        }
    }

    .influence {
        margin: 0;
        display: flex;
        flex-direction: column;
       

        &__wrapper {
            margin: 0;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        &__heading {
            margin: 0;
            padding-bottom: 14px;
            @include font500;
        }

        &__back {
            border: none;
            background-color: transparent;
        }

        &__img {
            border-radius: 50%;
            margin: 0 7px 0 7px;
        }

        &__title {
            margin: 0;
            @include font500;
            text-transform: capitalize;
            margin-left: 32px;
            margin-bottom: 10px;
        }

        &__text {
            margin: 0;
            @include font400;
            text-transform: capitalize;
            color: #808080;
            margin-left: 48px;
        }
    }
}